In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from itertools import cycle

pd.set_option('max_columns', 90)
pd.set_option('max_rows', 90)
plt.style.use('bmh')
color_pal = plt.rcParams['axes.prop_cycle'].by_key()['color']
color_cycle = cycle(plt.rcParams['axes.prop_cycle'].by_key()['color'])

## 1. Import the data

In [4]:
test_data=pd.read_csv("test.csv")
train_data=pd.read_csv("train.csv")

In [5]:
train_data.head()

,UID,BLOCKID,SUMLEVEL,COUNTYID,STATEID,state,state_ab,city,place,type,primary,zip_code,area_code,lat,lng,ALand,AWater,pop,male_pop,female_pop,rent_mean,rent_median,rent_stdev,rent_sample_weight,rent_samples,rent_gt_10,rent_gt_15,rent_gt_20,rent_gt_25,rent_gt_30,rent_gt_35,rent_gt_40,rent_gt_50,universe_samples,used_samples,hi_mean,hi_median,hi_stdev,hi_sample_weight,hi_samples,family_mean,family_median,family_stdev,family_sample_weight,family_samples,hc_mortgage_mean,hc_mortgage_median,hc_mortgage_stdev,hc_mortgage_sample_weight,hc_mortgage_samples,hc_mean,hc_median,hc_stdev,hc_samples,hc_sample_weight,home_equity_second_mortgage,second_mortgage,home_equity,debt,second_mortgage_cdf,home_equity_cdf,debt_cdf,hs_degree,hs_degree_male,hs_degree_female,male_age_mean,male_age_median,male_age_stdev,male_age_sample_weight,male_age_samples,female_age_mean,female_age_median,female_age_stdev,female_age_sample_weight,female_age_samples,pct_own,married,married_snp,separated,divorced
0,267822,NaN,140,53,36,New York,NY,Hamilton,Hamilton,City,tract,13346,315,42.840812,-75.501524,202183361.0,1699120,5230,2612,2618,769.38638,784.0,232.63967,272.34441,362.0,0.86761,0.79155,0.59155,0.45634,0.42817,0.18592,0.15493,0.12958,387,355,63125.28406,48120.0,49042.01206,1290.96240,2024.0,67994.14790,53245.0,47667.30119,884.33516,1491.0,1414.80295,1223.0,641.22898,377.83135,867.0,570.01530,558.0,270.11299,770.0,499.29293,0.01588,0.02077,0.08919,0.52963,0.43658,0.49087,0.73341,0.89288,0.85880,0.92434,42.48574,44.00000,22.97306,696.42136,2612.0,44.48629,45.33333,22.51276,685.33845,2618.0,0.79046,0.57851,0.01882,0.01240,0.08770
1,246444,NaN,140,141,18,Indiana,IN,South Bend,Roseland,City,tract,46616,574,41.701441,-86.266614,1560828.0,100363,2633,1349,1284,804.87924,848.0,253.46747,312.58622,513.0,0.97410,0.93227,0.69920,0.69920,0.55179,0.41235,0.39044,0.27888,542,502,41931.92593,35186.0,31639.50203,838.74664,1127.0,50670.10337,43023.0,34715.57548,375.28798,554.0,864.41390,784.0,482.27020,316.88320,356.0,351.98293,336.0,125.40457,229.0,189.60606,0.02222,0.02222,0.04274,0.60855,0.42174,0.70823,0.58120,0.90487,0.86947,0.94187,34.84728,32.00000,20.37452,323.90204,1349.0,36.48391,37.58333,23.43353,267.23367,1284.0,0.52483,0.34886,0.01426,0.01426,0.09030
2,245683,NaN,140,63,18,Indiana,IN,Danville,Danville,City,tract,46122,317,39.792202,-86.515246,69561595.0,284193,6881,3643,3238,742.77365,703.0,323.39011,291.85520,378.0,0.95238,0.88624,0.79630,0.66667,0.39153,0.39153,0.28307,0.15873,459,378,84942.68317,74964.0,56811.62186,1155.20980,2488.0,95262.51431,85395.0,49292.67664,709.74925,1889.0,1506.06758,1361.0,731.89394,699.41354,1491.0,556.45986,532.0,184.42175,538.0,323.35354,0.00000,0.00000,0.09512,0.73484,1.00000,0.46332,0.28704,0.94288,0.94616,0.93952,39.38154,40.83333,22.89769,888.29730,3643.0,42.15810,42.83333,23.94119,707.01963,3238.0,0.85331,0.64745,0.02830,0.01607,0.10657
3,279653,NaN,140,127,72,Puerto Rico,PR,San Juan,Guaynabo,Urban,tract,927,787,18.396103,-66.104169,1105793.0,0,2700,1141,1559,803.42018,782.0,297.39258,259.30316,368.0,0.94693,0.87151,0.69832,0.61732,0.51397,0.46927,0.35754,0.32961,438,358,48733.67116,37845.0,45100.54010,928.32193,1267.0,56401.68133,44399.0,41082.90515,490.18479,729.0,1175.28642,1101.0,428.98751,261.28471,437.0,288.04047,247.0,185.55887,392.0,314.90566,0.01086,0.01086,0.01086,0.52714,0.53057,0.82530,0.73727,0.91500,0.90755,0.92043,48.64749,48.91667,23.05968,274.98956,1141.0,47.77526,50.58333,24.32015,362.20193,1559.0,0.65037,0.47257,0.02021,0.02021,0.10106
4,247218,NaN,140,161,20,Kansas,KS,Manhattan,Manhattan City,City,tract,66502,785,39.195573,-96.569366,2554403.0,0,5637,2586,3051,938.56493,881.0,392.44096,1005.42886,1704.0,0.99286,0.98247,0.91688,0.84740,0.78247,0.60974,0.55455,0.44416,1725,1540,31834.15466,22497.0,34046.50907,1548.67477,1983.0,54053.42396,50272.0,39609.12605,244.08903,395.0,1192.58759,1125.0,327.49674,76.61052,134.0,443.68855,444.0,76.12674,124.0,79.55556,0.05426,0.05426,0.05426,0.51938,0.18332,0.65545,0.74967,1.00000,1.00000,1.00000,26.07533,22.41667,11.84399,1296.89877,2586.0,24.17693,21.58333,11.10484,1854.48652,3051.0,0.13046,0.12356,0.00000,0.00000,0.03109

In [6]:
test_data.head()

,UID,BLOCKID,SUMLEVEL,COUNTYID,STATEID,state,state_ab,city,place,type,primary,zip_code,area_code,lat,lng,ALand,AWater,pop,male_pop,female_pop,rent_mean,rent_median,rent_stdev,rent_sample_weight,rent_samples,rent_gt_10,rent_gt_15,rent_gt_20,rent_gt_25,rent_gt_30,rent_gt_35,rent_gt_40,rent_gt_50,universe_samples,used_samples,hi_mean,hi_median,hi_stdev,hi_sample_weight,hi_samples,family_mean,family_median,family_stdev,family_sample_weight,family_samples,hc_mortgage_mean,hc_mortgage_median,hc_mortgage_stdev,hc_mortgage_sample_weight,hc_mortgage_samples,hc_mean,hc_median,hc_stdev,hc_samples,hc_sample_weight,home_equity_second_mortgage,second_mortgage,home_equity,debt,second_mortgage_cdf,home_equity_cdf,debt_cdf,hs_degree,hs_degree_male,hs_degree_female,male_age_mean,male_age_median,male_age_stdev,male_age_sample_weight,male_age_samples,female_age_mean,female_age_median,female_age_stdev,female_age_sample_weight,female_age_samples,pct_own,married,married_snp,separated,divorced
0,255504,NaN,140,163,26,Michigan,MI,Detroit,Dearborn Heights City,CDP,tract,48239,313,42.346422,-83.252823,2711280,39555,3417,1479,1938,858.57169,859.0,232.39082,276.07497,424.0,1.00000,0.95696,0.85316,0.85316,0.85316,0.85316,0.76962,0.63544,435,395,48899.52121,38746.0,44392.20902,798.02401,1180.0,53802.87122,45167.0,43756.56479,464.30972,769.0,1139.24548,1109.0,336.47710,262.67011,474.0,488.51323,436.0,192.75147,271.0,189.18182,0.06443,0.06443,0.07651,0.63624,0.14111,0.55087,0.51965,0.91047,0.92010,0.90391,33.37131,27.83333,22.36768,334.30978,1479.0,34.78682,33.75000,21.58531,416.48097,1938.0,0.70252,0.28217,0.05910,0.03813,0.14299
1,252676,NaN,140,1,23,Maine,ME,Auburn,Auburn City,City,tract,4210,207,44.100724,-70.257832,14778785,2705204,3796,1846,1950,832.68625,750.0,267.22342,183.32299,245.0,1.00000,1.00000,0.86611,0.67364,0.30962,0.30962,0.30962,0.27197,275,239,72335.33234,61008.0,51895.81159,922.82969,1722.0,85642.22095,74759.0,49156.72870,482.99945,1147.0,1533.25988,1438.0,536.61118,373.96188,937.0,661.31296,668.0,201.31365,510.0,279.69697,0.01175,0.01175,0.14375,0.64755,0.52310,0.26442,0.49359,0.94290,0.92832,0.95736,43.88680,46.08333,22.90302,427.10824,1846.0,44.23451,46.66667,22.37036,532.03505,1950.0,0.85128,0.64221,0.02338,0.00000,0.13377
2,276314,NaN,140,15,42,Pennsylvania,PA,Pine City,Millerton,Borough,tract,14871,607,41.948556,-76.783808,258903666,863840,3944,2065,1879,816.00639,755.0,416.25699,141.39063,217.0,0.97573,0.93204,0.78641,0.71845,0.63592,0.47573,0.43689,0.32524,245,206,58501.15901,51648.0,45245.27248,893.07759,1461.0,65694.06582,57186.0,44239.31893,619.73962,1084.0,1254.54462,1089.0,596.85204,340.45884,552.0,397.44466,356.0,189.40372,664.0,534.16737,0.01069,0.01316,0.06497,0.45395,0.51066,0.60484,0.83848,0.89238,0.86003,0.92463,39.81661,41.91667,24.29111,499.10080,2065.0,41.62426,44.50000,22.86213,453.11959,1879.0,0.81897,0.59961,0.01746,0.01358,0.10026
3,248614,NaN,140,231,21,Kentucky,KY,Monticello,Monticello City,City,tract,42633,606,36.746009,-84.766870,501694825,2623067,2508,1427,1081,418.68937,385.0,156.92024,88.95960,93.0,1.00000,0.93548,0.93548,0.64516,0.55914,0.46237,0.46237,0.36559,153,93,38237.55059,31612.0,34527.61607,775.17947,957.0,44156.38709,34687.0,34899.74300,535.21987,689.0,862.65763,749.0,624.42157,299.56752,337.0,200.88113,180.0,91.56490,467.0,454.85404,0.00995,0.00995,0.01741,0.41915,0.53770,0.80931,0.87403,0.60908,0.56584,0.65947,41.81638,43.00000,24.65325,333.57733,1427.0,44.81200,48.00000,21.03155,263.94320,1081.0,0.84609,0.56953,0.05492,0.04694,0.12489
4,286865,NaN,140,355,48,Texas,TX,Corpus Christi,Edroy,Town,tract,78410,361,27.882461,-97.678586,13796057,497689,6230,3274,2956,1031.63763,997.0,326.76727,277.39844,624.0,0.72276,0.66506,0.53526,0.38301,0.18910,0.16667,0.14263,0.11058,660,624,114456.07790,94211.0,81950.95692,836.30759,2404.0,123527.02420,103898.0,72173.55823,507.42257,1738.0,1996.41425,1907.0,740.21168,319.97570,1102.0,867.57713,804.0,376.20236,642.0,333.91919,0.00000,0.00000,0.03440,0.63188,1.00000,0.74519,0.52943,0.86297,0.87969,0.84466,42.13301,43.75000,22.69502,833.57435,3274.0,40.66618,42.66667,21.30900,709.90829,2956.0,0.79077,0.57620,0.01726,0.00588,0.16379

## 2. Find the primary key

UID is the primary key, as it is unique reference key.

## 3.Gauge the fill rate of the variables and devise plans for missing value treatment. Please explain explicitly the reason for the treatment chosen for each variable.

First lets perform operations on the training data, then perform on the test data.

In [7]:
train_data.dtypes

UID                              int64
BLOCKID                        float64
SUMLEVEL                         int64
COUNTYID                         int64
STATEID                          int64
state                           object
state_ab                        object
city                            object
place                           object
type                            object
primary                         object
zip_code                         int64
area_code                        int64
lat                            float64
lng                            float64
ALand                          float64
AWater                           int64
pop                              int64
male_pop                         int64
female_pop                       int64
rent_mean                      float64
rent_median                    float64
rent_stdev                     float64
rent_sample_weight             float64
rent_samples                   float64
rent_gt_10                     float64
rent_gt_15                     float64
rent_gt_20                     float64
rent_gt_25                     float64
rent_gt_30                     float64
rent_gt_35                     float64
rent_gt_40                     float64
rent_gt_50                     float64
universe_samples                 int64
used_samples                     int64
hi_mean                        float64
hi_median                      float64
hi_stdev                       float64
hi_sample_weight               float64
hi_samples                     float64
family_mean                    float64
family_median                  float64
family_stdev                   float64
family_sample_weight           float64
family_samples                 float64
hc_mortgage_mean               float64
hc_mortgage_median             float64
hc_mortgage_stdev              float64
hc_mortgage_sample_weight      float64
hc_mortgage_samples            float64
hc_mean                        float64
hc_median                      float64
hc_stdev                       float64
hc_samples                     float64
hc_sample_weight               float64
home_equity_second_mortgage    float64
second_mortgage                float64
home_equity                    float64
debt                           float64
second_mortgage_cdf            float64
home_equity_cdf                float64
debt_cdf                       float64
hs_degree                      float64
hs_degree_male                 float64
hs_degree_female               float64
male_age_mean                  float64
male_age_median                float64
male_age_stdev                 float64
male_age_sample_weight         float64
male_age_samples               float64
female_age_mean                float64
female_age_median              float64
female_age_stdev               float64
female_age_sample_weight       float64
female_age_samples             float64
pct_own                        float64
married                        float64
married_snp                    float64
separated                      float64
divorced                       float64
dtype: object

In [8]:
train_data.columns

Index(['UID', 'BLOCKID', 'SUMLEVEL', 'COUNTYID', 'STATEID', 'state',
       'state_ab', 'city', 'place', 'type', 'primary', 'zip_code', 'area_code',
       'lat', 'lng', 'ALand', 'AWater', 'pop', 'male_pop', 'female_pop',
       'rent_mean', 'rent_median', 'rent_stdev', 'rent_sample_weight',
       'rent_samples', 'rent_gt_10', 'rent_gt_15', 'rent_gt_20', 'rent_gt_25',
       'rent_gt_30', 'rent_gt_35', 'rent_gt_40', 'rent_gt_50',
       'universe_samples', 'used_samples', 'hi_mean', 'hi_median', 'hi_stdev',
       'hi_sample_weight', 'hi_samples', 'family_mean', 'family_median',
       'family_stdev', 'family_sample_weight', 'family_samples',
       'hc_mortgage_mean', 'hc_mortgage_median', 'hc_mortgage_stdev',
       'hc_mortgage_sample_weight', 'hc_mortgage_samples', 'hc_mean',
       'hc_median', 'hc_stdev', 'hc_samples', 'hc_sample_weight',
       'home_equity_second_mortgage', 'second_mortgage', 'home_equity', 'debt',
       'second_mortgage_cdf', 'home_equity_cdf', 'debt_cdf', 'hs_degree',
       'hs_degree_male', 'hs_degree_female', 'male_age_mean',
       'male_age_median', 'male_age_stdev', 'male_age_sample_weight',
       'male_age_samples', 'female_age_mean', 'female_age_median',
       'female_age_stdev', 'female_age_sample_weight', 'female_age_samples',
       'pct_own', 'married', 'married_snp', 'separated', 'divorced'],
      dtype='object')

In [9]:
A=pd.DataFrame(train_data.columns)
A

                              0
0                           UID
1                       BLOCKID
2                      SUMLEVEL
3                      COUNTYID
4                       STATEID
5                         state
6                      state_ab
7                          city
8                         place
9                          type
10                      primary
11                     zip_code
12                    area_code
13                          lat
14                          lng
15                        ALand
16                       AWater
17                          pop
18                     male_pop
19                   female_pop
20                    rent_mean
21                  rent_median
22                   rent_stdev
23           rent_sample_weight
24                 rent_samples
25                   rent_gt_10
26                   rent_gt_15
27                   rent_gt_20
28                   rent_gt_25
29                   rent_gt_30
30                   rent_gt_35
31                   rent_gt_40
32                   rent_gt_50
33             universe_samples
34                 used_samples
35                      hi_mean
36                    hi_median
37                     hi_stdev
38             hi_sample_weight
39                   hi_samples
40                  family_mean
41                family_median
42                 family_stdev
43         family_sample_weight
44               family_samples
45             hc_mortgage_mean
46           hc_mortgage_median
47            hc_mortgage_stdev
48    hc_mortgage_sample_weight
49          hc_mortgage_samples
50                      hc_mean
51                    hc_median
52                     hc_stdev
53                   hc_samples
54             hc_sample_weight
55  home_equity_second_mortgage
56              second_mortgage
57                  home_equity
58                         debt
59          second_mortgage_cdf
60              home_equity_cdf
61                     debt_cdf
62                    hs_degree
63               hs_degree_male
64             hs_degree_female
65                male_age_mean
66              male_age_median
67               male_age_stdev
68       male_age_sample_weight
69             male_age_samples
70              female_age_mean
71            female_age_median
72             female_age_stdev
73     female_age_sample_weight
74           female_age_samples
75                      pct_own
76                      married
77                  married_snp
78                    separated
79                     divorced

In [10]:
train_data.shape

(27321, 80)

In [11]:
train_data.isnull().sum()

UID                                0
BLOCKID                        27321
SUMLEVEL                           0
COUNTYID                           0
STATEID                            0
state                              0
state_ab                           0
city                               0
place                              0
type                               0
primary                            0
zip_code                           0
area_code                          0
lat                                0
lng                                0
ALand                              0
AWater                             0
pop                                0
male_pop                           0
female_pop                         0
rent_mean                        314
rent_median                      314
rent_stdev                       314
rent_sample_weight               314
rent_samples                     314
rent_gt_10                       314
rent_gt_15                       314
rent_gt_20                       314
rent_gt_25                       314
rent_gt_30                       314
rent_gt_35                       314
rent_gt_40                       314
rent_gt_50                       314
universe_samples                   0
used_samples                       0
hi_mean                          268
hi_median                        268
hi_stdev                         268
hi_sample_weight                 268
hi_samples                       268
family_mean                      298
family_median                    298
family_stdev                     298
family_sample_weight             298
family_samples                   298
hc_mortgage_mean                 573
hc_mortgage_median               573
hc_mortgage_stdev                573
hc_mortgage_sample_weight        573
hc_mortgage_samples              573
hc_mean                          600
hc_median                        600
hc_stdev                         600
hc_samples                       600
hc_sample_weight                 600
home_equity_second_mortgage      457
second_mortgage                  457
home_equity                      457
debt                             457
second_mortgage_cdf              457
home_equity_cdf                  457
debt_cdf                         457
hs_degree                        190
hs_degree_male                   200
hs_degree_female                 223
male_age_mean                    189
male_age_median                  189
male_age_stdev                   189
male_age_sample_weight           189
male_age_samples                 189
female_age_mean                  206
female_age_median                206
female_age_stdev                 206
female_age_sample_weight         206
female_age_samples               206
pct_own                          268
married                          191
married_snp                      191
separated                        191
divorced                         191
dtype: int64

In [12]:
train_data.duplicated().sum()

160

1.There are 80 columns with 27321 records in the training data </br>
2.There are null values in the columns</br>
3.There are 160 duplicated records</br>
4.The data types range from int to float

## Treating Missing Values

## Number of columns with missing values

In [13]:
len(train_data.columns[train_data.isnull().sum(axis=0 )> 0])

59

There are 59 columns with missing values.

## percentage of missings values in each column

In [14]:
percent_missing = train_data.isnull().sum() * 100 / len(train_data)
missing_value_df = pd.DataFrame({'column_name': train_data.columns,
                                 'percent_missing': percent_missing})

In [15]:
missing_value_df

                                             column_name  percent_missing
UID                                                  UID         0.000000
BLOCKID                                          BLOCKID       100.000000
SUMLEVEL                                        SUMLEVEL         0.000000
COUNTYID                                        COUNTYID         0.000000
STATEID                                          STATEID         0.000000
state                                              state         0.000000
state_ab                                        state_ab         0.000000
city                                                city         0.000000
place                                              place         0.000000
type                                                type         0.000000
primary                                          primary         0.000000
zip_code                                        zip_code         0.000000
area_code                                      area_code         0.000000
lat                                                  lat         0.000000
lng                                                  lng         0.000000
ALand                                              ALand         0.000000
AWater                                            AWater         0.000000
pop                                                  pop         0.000000
male_pop                                        male_pop         0.000000
female_pop                                    female_pop         0.000000
rent_mean                                      rent_mean         1.149299
rent_median                                  rent_median         1.149299
rent_stdev                                    rent_stdev         1.149299
rent_sample_weight                    rent_sample_weight         1.149299
rent_samples                                rent_samples         1.149299
rent_gt_10                                    rent_gt_10         1.149299
rent_gt_15                                    rent_gt_15         1.149299
rent_gt_20                                    rent_gt_20         1.149299
rent_gt_25                                    rent_gt_25         1.149299
rent_gt_30                                    rent_gt_30         1.149299
rent_gt_35                                    rent_gt_35         1.149299
rent_gt_40                                    rent_gt_40         1.149299
rent_gt_50                                    rent_gt_50         1.149299
universe_samples                        universe_samples         0.000000
used_samples                                used_samples         0.000000
hi_mean                                          hi_mean         0.980930
hi_median                                      hi_median         0.980930
hi_stdev                                        hi_stdev         0.980930
hi_sample_weight                        hi_sample_weight         0.980930
hi_samples                                    hi_samples         0.980930
family_mean                                  family_mean         1.090736
family_median                              family_median         1.090736
family_stdev                                family_stdev         1.090736
family_sample_weight                family_sample_weight         1.090736
family_samples                            family_samples         1.090736
hc_mortgage_mean                        hc_mortgage_mean         2.097288
hc_mortgage_median                    hc_mortgage_median         2.097288
hc_mortgage_stdev                      hc_mortgage_stdev         2.097288
hc_mortgage_sample_weight      hc_mortgage_sample_weight         2.097288
hc_mortgage_samples                  hc_mortgage_samples         2.097288
hc_mean                                          hc_mean         2.196113
hc_median                                      hc_median         2.196113
hc_stdev                                        hc_stdev         2.196113
hc_samples                                    hc_samples         2.196113
hc_sample_weight                        hc_sample_weight         2.196113
home_equity_second_mortgage  home_equity_second_mortgage         1.672706
second_mortgage                          second_mortgage         1.672706
home_equity                                  home_equity         1.672706
debt                                                debt         1.672706
second_mortgage_cdf                  second_mortgage_cdf         1.672706
home_equity_cdf                          home_equity_cdf         1.672706
debt_cdf                                        debt_cdf         1.672706
hs_degree                                      hs_degree         0.695436
hs_degree_male                            hs_degree_male         0.732038
hs_degree_female                        hs_degree_female         0.816222
male_age_mean                              male_age_mean         0.691776
male_age_median                          male_age_median         0.691776
male_age_stdev                            male_age_stdev         0.691776
male_age_sample_weight            male_age_sample_weight         0.691776
male_age_samples                        male_age_samples         0.691776
female_age_mean                          female_age_mean         0.753999
female_age_median                      female_age_median         0.753999
female_age_stdev                        female_age_stdev         0.753999
female_age_sample_weight        female_age_sample_weight         0.753999
female_age_samples                    female_age_samples         0.753999
pct_own                                          pct_own         0.980930
married                                          married         0.699096
married_snp                                  married_snp         0.699096
separated                                      separated         0.699096
divorced                                        divorced         0.699096


We can delete the column "BLOCK ID" as it has all null values

In [16]:
train_data.drop('BLOCKID', axis=1 , inplace=True)

## Calculate the overall percentage of missing data in the dataset

In [17]:
Missing_values=train_data[train_data.isnull().any(axis=1)]
Missing_values

,UID,SUMLEVEL,COUNTYID,STATEID,state,state_ab,city,place,type,primary,zip_code,area_code,lat,lng,ALand,AWater,pop,male_pop,female_pop,rent_mean,rent_median,rent_stdev,rent_sample_weight,rent_samples,rent_gt_10,rent_gt_15,rent_gt_20,rent_gt_25,rent_gt_30,rent_gt_35,rent_gt_40,rent_gt_50,universe_samples,used_samples,hi_mean,hi_median,hi_stdev,hi_sample_weight,hi_samples,family_mean,family_median,family_stdev,family_sample_weight,family_samples,hc_mortgage_mean,hc_mortgage_median,hc_mortgage_stdev,hc_mortgage_sample_weight,hc_mortgage_samples,hc_mean,hc_median,hc_stdev,hc_samples,hc_sample_weight,home_equity_second_mortgage,second_mortgage,home_equity,debt,second_mortgage_cdf,home_equity_cdf,debt_cdf,hs_degree,hs_degree_male,hs_degree_female,male_age_mean,male_age_median,male_age_stdev,male_age_sample_weight,male_age_samples,female_age_mean,female_age_median,female_age_stdev,female_age_sample_weight,female_age_samples,pct_own,married,married_snp,separated,divorced
51,223593,140,19,4,Arizona,AZ,Tucson,Littletown,CDP,tract,85734,520,32.067721,-110.867177,2909152.0,0,4531,4370,161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.64962,0.63734,0.91925,36.73330,34.50000,12.85240,1145.08910,4370.0,40.02370,40.83333,8.49563,30.01695,161.0,NaN,0.16308,0.16308,0.02634,0.20499
94,233040,140,101,8,Colorado,CO,Pueblo,Pueblo City,City,tract,81001,719,38.308407,-104.577687,1042529.0,0,579,270,309,782.00000,781.0,22.95830,4.00000,4.0,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,10,4,19787.76153,24356.0,8348.64517,10.00000,10.0,11749.65000,11870.0,2295.73336,4.00000,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,1.00000,1.00000,19.90717,19.66667,1.76353,180.13479,270.0,20.00784,19.25000,4.30291,172.56153,309.0,0.00000,0.00000,0.00000,0.00000,0.00000
153,263292,140,13,34,New Jersey,NJ,Newark,Silver Lake,City,tract,7107,973,40.773830,-74.175141,763973.0,22300,3458,1787,1671,890.69365,929.0,472.84907,566.54167,1011.0,0.96211,0.79163,0.72981,0.66899,0.49551,0.40279,0.38883,0.29412,1011,1003,46259.09568,28496.0,52060.62169,820.16516,1228.0,55882.00264,41924.0,45573.64511,477.68311,746.0,2342.64044,2190.0,770.94014,48.54139,217.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.28571,1.0,1.0,0.03005,0.0,0.70552,0.73876,0.67054,34.66877,34.41667,19.38107,411.29534,1787.0,35.47667,35.58333,20.62717,369.61740,1671.0,0.24002,0.37411,0.05579,0.02504,0.07654
302,267158,140,47,36,New York,NY,Brooklyn,New York City,City,tract,11215,718,40.659126,-73.969773,2313042.0,227326,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340,292484,140,25,55,Wisconsin,WI,Madison,Madison City,City,tract,53703,608,43.073403,-89.395430,175748.0,0,3274,1293,1981,1191.78679,956.0,737.36689,768.38091,1497.0,1.00000,0.98039,0.96757,0.96757,0.96154,0.90422,0.84992,0.78733,1505,1326,14917.36079,9758.0,15534.75750,1202.89330,1505.0,22527.10680,7965.0,21141.68686,23.49730,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.87107,0.89950,0.82353,24.13033,22.08333,7.84307,755.14608,1293.0,22.03226,21.08333,5.13435,1365.86300,1981.0,0.00000,0.00773,0.00000,0.00000,0.01160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27127,266321,140,5,36,New York,NY,Bronx,Mount Vernon City,City,tract,10458,718,40.874095,-73.885197,173358.0,0,7561,3640,3921,1183.94615,1171.0,410.85034,877.82915,2618.0,0.97718,0.88820,0.72495,0.65377,0.55861,0.48240,0.43327,0.28936,2632,2585,56147.83714,39415.0,52993.91797,1727.31580,2802.0,60397.34659,56606.0,47973.39752,959.04952,1707.0,2186.12281,2534.0,790.56050,59.37876,170.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.00000,1.0,1.0,1.00000,0.0,0.74806,0.81159,0.69946,31.47280,30.08333,19.50448,873.98633,3640.0,37.43584,36.66667,20.24009,949.65719,3921.0,0.07254,0.42468,0.07456,0.03217,0.08100
27175,235725,140,57,12,Florida,FL,Tampa,Pebble Creek,City,tract,33647,813,28.149447,-82.356517,2464707.0,50567,1105,457,648,1144.84723,1135.0,204.04871,133.90349,455.0,1.00000,0.90549,0.64176,0.57143,0.30330,0.15824,0.12967,0.11868,455,455,59561.19893,57254.0,25207.50919,246.98533,455.0,63367.26166,67142.0,24330.79882,95.26054,204.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.99474,0.98817,1.00000,32.09070,29.75000,16.72733,94.84358,457.0,29.08800,28.08333,14.65116,144.78344,648.0,0.00000,0.25806,0.10753,0.10753,0.09946
27176,247777,140,61,21,Kentucky,KY,Brownsville,Brownsville City,City,tract,42210,270,37.197158,-86.156329,175916489.0,2094374,17,11,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.60934,19.75000,0.96277,7.86957,11.0,19.39847,19.00000,1.49474,3.39130,6.0,NaN,0.00000,0.00000,0.00000,0.00000
27216,266166,140,5,36,New York,NY,Bronx,Pelham Manor,City,tract,10462,718,40.856476,-73.865431,124862.0,0,3502,1441,2061,1302.60910,1270.0,380.82042,295.19409,1163.0,0.97786,0.93091,0.82551,0.76174,0.66785,0.58990,0.52170,0.41187,1219,1129,56314.24730,37855.0,57505.86659,896.91788,1320.0,62914.45616,44198.0,56105.01949,539.90631,904.0,1116.24213,1111.0,531.94413,60.28846,101.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.19802,1.0,1.0,0.12079,0.0,0.74676,0.78347,0.72614,33.05640,33.00000,20.63689,363.21530,1441.0,37.70543,35.08333,21.49394,473.55995,2061.0,0.06311,0.51284,0.08899,0.03211,0.02844
27240,251078,140,25,25,Massachusetts,MA,Boston,Brookline,City,tract,2124,617,42.300613,-71.094613,2076316.0,27539,360,264,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.58861,0.55823,0.70149,46.59950,48.91667,14.60008,65.20375,264.0,38.36136,37.50000,17.21372,41.67597,96.0,NaN,0.15530,0.15530,0.13258,0.10985

In [18]:
Missing_values.shape

(736, 79)

In [19]:
train_data.shape

(27321, 79)

In [20]:
missing_percentage= (736/27321) * 100
missing_percentage

2.693898466381172

The overall missing data in the dataset is 2.69 which is negligable, therefore the missing values can be dropped.

## Dropping NULL/NAN values

In [21]:
train_data.dropna()

,UID,SUMLEVEL,COUNTYID,STATEID,state,state_ab,city,place,type,primary,zip_code,area_code,lat,lng,ALand,AWater,pop,male_pop,female_pop,rent_mean,rent_median,rent_stdev,rent_sample_weight,rent_samples,rent_gt_10,rent_gt_15,rent_gt_20,rent_gt_25,rent_gt_30,rent_gt_35,rent_gt_40,rent_gt_50,universe_samples,used_samples,hi_mean,hi_median,hi_stdev,hi_sample_weight,hi_samples,family_mean,family_median,family_stdev,family_sample_weight,family_samples,hc_mortgage_mean,hc_mortgage_median,hc_mortgage_stdev,hc_mortgage_sample_weight,hc_mortgage_samples,hc_mean,hc_median,hc_stdev,hc_samples,hc_sample_weight,home_equity_second_mortgage,second_mortgage,home_equity,debt,second_mortgage_cdf,home_equity_cdf,debt_cdf,hs_degree,hs_degree_male,hs_degree_female,male_age_mean,male_age_median,male_age_stdev,male_age_sample_weight,male_age_samples,female_age_mean,female_age_median,female_age_stdev,female_age_sample_weight,female_age_samples,pct_own,married,married_snp,separated,divorced
0,267822,140,53,36,New York,NY,Hamilton,Hamilton,City,tract,13346,315,42.840812,-75.501524,2.021834e+08,1699120,5230,2612,2618,769.38638,784.0,232.63967,272.34441,362.0,0.86761,0.79155,0.59155,0.45634,0.42817,0.18592,0.15493,0.12958,387,355,63125.28406,48120.0,49042.01206,1290.96240,2024.0,67994.14790,53245.0,47667.30119,884.33516,1491.0,1414.80295,1223.0,641.22898,377.83135,867.0,570.01530,558.0,270.11299,770.0,499.29293,0.01588,0.02077,0.08919,0.52963,0.43658,0.49087,0.73341,0.89288,0.85880,0.92434,42.48574,44.00000,22.97306,696.42136,2612.0,44.48629,45.33333,22.51276,685.33845,2618.0,0.79046,0.57851,0.01882,0.01240,0.08770
1,246444,140,141,18,Indiana,IN,South Bend,Roseland,City,tract,46616,574,41.701441,-86.266614,1.560828e+06,100363,2633,1349,1284,804.87924,848.0,253.46747,312.58622,513.0,0.97410,0.93227,0.69920,0.69920,0.55179,0.41235,0.39044,0.27888,542,502,41931.92593,35186.0,31639.50203,838.74664,1127.0,50670.10337,43023.0,34715.57548,375.28798,554.0,864.41390,784.0,482.27020,316.88320,356.0,351.98293,336.0,125.40457,229.0,189.60606,0.02222,0.02222,0.04274,0.60855,0.42174,0.70823,0.58120,0.90487,0.86947,0.94187,34.84728,32.00000,20.37452,323.90204,1349.0,36.48391,37.58333,23.43353,267.23367,1284.0,0.52483,0.34886,0.01426,0.01426,0.09030
2,245683,140,63,18,Indiana,IN,Danville,Danville,City,tract,46122,317,39.792202,-86.515246,6.956160e+07,284193,6881,3643,3238,742.77365,703.0,323.39011,291.85520,378.0,0.95238,0.88624,0.79630,0.66667,0.39153,0.39153,0.28307,0.15873,459,378,84942.68317,74964.0,56811.62186,1155.20980,2488.0,95262.51431,85395.0,49292.67664,709.74925,1889.0,1506.06758,1361.0,731.89394,699.41354,1491.0,556.45986,532.0,184.42175,538.0,323.35354,0.00000,0.00000,0.09512,0.73484,1.00000,0.46332,0.28704,0.94288,0.94616,0.93952,39.38154,40.83333,22.89769,888.29730,3643.0,42.15810,42.83333,23.94119,707.01963,3238.0,0.85331,0.64745,0.02830,0.01607,0.10657
3,279653,140,127,72,Puerto Rico,PR,San Juan,Guaynabo,Urban,tract,927,787,18.396103,-66.104169,1.105793e+06,0,2700,1141,1559,803.42018,782.0,297.39258,259.30316,368.0,0.94693,0.87151,0.69832,0.61732,0.51397,0.46927,0.35754,0.32961,438,358,48733.67116,37845.0,45100.54010,928.32193,1267.0,56401.68133,44399.0,41082.90515,490.18479,729.0,1175.28642,1101.0,428.98751,261.28471,437.0,288.04047,247.0,185.55887,392.0,314.90566,0.01086,0.01086,0.01086,0.52714,0.53057,0.82530,0.73727,0.91500,0.90755,0.92043,48.64749,48.91667,23.05968,274.98956,1141.0,47.77526,50.58333,24.32015,362.20193,1559.0,0.65037,0.47257,0.02021,0.02021,0.10106
4,247218,140,161,20,Kansas,KS,Manhattan,Manhattan City,City,tract,66502,785,39.195573,-96.569366,2.554403e+06,0,5637,2586,3051,938.56493,881.0,392.44096,1005.42886,1704.0,0.99286,0.98247,0.91688,0.84740,0.78247,0.60974,0.55455,0.44416,1725,1540,31834.15466,22497.0,34046.50907,1548.67477,1983.0,54053.42396,50272.0,39609.12605,244.08903,395.0,1192.58759,1125.0,327.49674,76.61052,134.0,443.68855,444.0,76.12674,124.0,79.55556,0.05426,0.05426,0.05426,0.51938,0.18332,0.65545,0.74967,1.00000,1.00000,1.00000,26.07533,22.41667,11.84399,1296.89877,2586.0,24.17693,21.58333,11.10484,1854.48652,3051.0,0.13046,0.12356,0.00000,0.00000,0.03109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27316,279212,140,43,72,Puerto Rico,PR,Coamo,Coamo,Urban,tract,769,787,18.076060,-66.358379,6.970300e+05,0,1847,909,938,439.42839,419.0,140.29970,170.00000,170.0,1.00000,1.00000,1.00000,0.83333,0.79012,0.79012,0.72222,0.62963,278,162,18515.67021,13317.0,23914.42656,648.39020,774.0,20889.14617,16760.0,23488.17854,346.58143,446.0,770.11560,828.0,157.85227,58.00000,58.0,160.86544,145.0,94.04517,438.0,366.09000,0.00000,0.00000,0.00000,0.11694,1.00000,1.00000,0.98762,0.60155,0.56962,0.63222,42.14011,41.66667,23.76478,216.22207,909.0,42.73154,40.16667,24.79821,230.87898,938.0,0.60422,0.24603,0.03042,0.02249,0.14683
27317,277856,140,91,42,Pennsylvania,PA,Blue Bell,Blue Bell,Borough,tract,19422,215,40.158138,-75.307271,5.077337e+06,11786,4155,2116,2039,1813.19253,1788.0,492.92300,64.84927,471.0,0.85435,0.63261,0.50000,0.37391,0.30870,0.30870,0.26304,0.23478,484,460,119889.08320,108284.0,77625.25547,518.53683,1431.0,118896.06830,113313.0,66663.51722,388.97237,1151.0,2210.84055,2202.0,713.03361,154.95504,619.0,712.16631,663.0,281.77621,328.0,174.96970,0.00845,0.02112,0.19641,0.65364,0.43301,0.12376,0.47934,0.95737,0.95772,0.95701,37.75495,38.83333,21.45832,530.17185,2116.0,38.21269,39.50000,21.84826,496.20427,2039.0,0.68072,0.61127,0.05003,0.02473,0.04888
27318,233000,140,87,8,Colorado,CO,Weldona,Saddle Ridge,City,tract,80653,970,40.410316,-103.814003,1.323262e+09,17577610,2829,1465,1364,849.39107,834.0,336.47530,120.91448,195.0,0.93846,0.71282,0.54359,0.44615,0.29744,0.23077,0.16923,0.09231,237,195,79890.25113,73350.0,58132.65778,529.41812,1077.0,88878.57034,81864.0,53510.48475,375.21237,871.0,1671.07908,1588.0,742.67822,182.53725,488.0,536.04921,467.0,306.82251,352.0,240.36899,0.02024,0.02024,0.07857,0.58095,0.44186,0.54095,0.63916,0.93555,0.92200,0.94887,40.01134,42.00000,23.08048,345.30911,1465.0,43.40218,46.33333,23.40858,316.52078,1364.0,0.78508,0.70451,0.01386,0.00520,0.07712
27319,287425,140,439,48,Texas,TX,Colleyville,Colleyville City,Town,tract,76034,817,32.904866,-97.162151,1.865230e+07,158882,11542,5727,5815,1972.45746,1843.0,633.02173,19.16328,157.0,1.00000,1.00000,0.75796,0.61146,0.50318,0.50318,0.27389,0.27389,234,157,165510.27110,148548.0,102038.58810,960.70051,4009.0,167148.83770,175952.0,77638.35136,719.65942,3452.0,3074.83088,3188.0,1121.07013,536.61873,2481.0,1076.86881,1037.0,432.32205,1294.0,525.92451,0.05801,0.07550,0.12556,0.65722,0.10759,0.33196,0.47094,0.98540,0.98883,0.98201,40.75409,46.66667,22.48690,1305.28070,5727.0,39.25921,43.41667,21.36235,1373.94120,5815.0,0.93970,0.75503,0.02287,0.00915,0.05261
27320,265371,140,3,32,Nevada,NV,Las Vegas,Paradise,City,tract,89123,702,36.064754,-115.152237,7.796308e+06,0,3726,1815,1911,949.84199,924.0,198.82109,555.87526,1031.0,0.94956,0.87779,0.83705,0.63337,0.51115,0.41901,0.27934,0.10572,1055,1031,51648.18703,38072.0,46305.44046,1061.78932,1409.0,54886.07827,42544.0,39352.40334,474.38547,698.0,1455.42340,1364.0,629.41356,106.84849,232.0,540.26838,454.0,256.39951,122.0,79.07071,0.01412,0.01412,0.18362,0.65537,0.50190,0.15035,0.47521,0.87370,0.87166,0.87576,34.81046,32.50000,20.16376,461.52440,1815.0,34.45345,29.83333,19.77208,526.73261,1911.0,0.27912,0.34426,0.03825,0.03005,0.13320

In [22]:
train_data.duplicated().sum()

160

In [23]:
train_data.drop_duplicates(inplace=True)

In [24]:
train_data.duplicated().sum()

0

## Final dataset size

In [25]:
train_data.shape

(27161, 79)

## Same will be performed on the test data

In [26]:
test_data.isnull().sum()

UID                                0
BLOCKID                        11709
SUMLEVEL                           0
COUNTYID                           0
STATEID                            0
state                              0
state_ab                           0
city                               0
place                              0
type                               0
primary                            0
zip_code                           0
area_code                          0
lat                                0
lng                                0
ALand                              0
AWater                             0
pop                                0
male_pop                           0
female_pop                         0
rent_mean                        148
rent_median                      148
rent_stdev                       148
rent_sample_weight               148
rent_samples                     148
rent_gt_10                       149
rent_gt_15                       149
rent_gt_20                       149
rent_gt_25                       149
rent_gt_30                       149
rent_gt_35                       149
rent_gt_40                       149
rent_gt_50                       149
universe_samples                   0
used_samples                       0
hi_mean                          122
hi_median                        122
hi_stdev                         122
hi_sample_weight                 122
hi_samples                       122
family_mean                      136
family_median                    136
family_stdev                     136
family_sample_weight             136
family_samples                   136
hc_mortgage_mean                 268
hc_mortgage_median               268
hc_mortgage_stdev                268
hc_mortgage_sample_weight        268
hc_mortgage_samples              268
hc_mean                          290
hc_median                        290
hc_stdev                         290
hc_samples                       290
hc_sample_weight                 290
home_equity_second_mortgage      220
second_mortgage                  220
home_equity                      220
debt                             220
second_mortgage_cdf              220
home_equity_cdf                  220
debt_cdf                         220
hs_degree                         85
hs_degree_male                    89
hs_degree_female                 105
male_age_mean                     84
male_age_median                   84
male_age_stdev                    84
male_age_sample_weight            84
male_age_samples                  84
female_age_mean                   96
female_age_median                 96
female_age_stdev                  96
female_age_sample_weight          96
female_age_samples                96
pct_own                          122
married                           84
married_snp                       84
separated                         84
divorced                          84
dtype: int64

In [27]:
percent_missing1 = test_data.isnull().sum() * 100 / len(test_data)
missing_value_df1 = pd.DataFrame({'column_name': test_data.columns,
                                 'percent_missing': percent_missing})

In [28]:
missing_value_df1

                                             column_name  percent_missing
UID                                                  UID         0.000000
BLOCKID                                          BLOCKID       100.000000
SUMLEVEL                                        SUMLEVEL         0.000000
COUNTYID                                        COUNTYID         0.000000
STATEID                                          STATEID         0.000000
state                                              state         0.000000
state_ab                                        state_ab         0.000000
city                                                city         0.000000
place                                              place         0.000000
type                                                type         0.000000
primary                                          primary         0.000000
zip_code                                        zip_code         0.000000
area_code                                      area_code         0.000000
lat                                                  lat         0.000000
lng                                                  lng         0.000000
ALand                                              ALand         0.000000
AWater                                            AWater         0.000000
pop                                                  pop         0.000000
male_pop                                        male_pop         0.000000
female_pop                                    female_pop         0.000000
rent_mean                                      rent_mean         1.149299
rent_median                                  rent_median         1.149299
rent_stdev                                    rent_stdev         1.149299
rent_sample_weight                    rent_sample_weight         1.149299
rent_samples                                rent_samples         1.149299
rent_gt_10                                    rent_gt_10         1.149299
rent_gt_15                                    rent_gt_15         1.149299
rent_gt_20                                    rent_gt_20         1.149299
rent_gt_25                                    rent_gt_25         1.149299
rent_gt_30                                    rent_gt_30         1.149299
rent_gt_35                                    rent_gt_35         1.149299
rent_gt_40                                    rent_gt_40         1.149299
rent_gt_50                                    rent_gt_50         1.149299
universe_samples                        universe_samples         0.000000
used_samples                                used_samples         0.000000
hi_mean                                          hi_mean         0.980930
hi_median                                      hi_median         0.980930
hi_stdev                                        hi_stdev         0.980930
hi_sample_weight                        hi_sample_weight         0.980930
hi_samples                                    hi_samples         0.980930
family_mean                                  family_mean         1.090736
family_median                              family_median         1.090736
family_stdev                                family_stdev         1.090736
family_sample_weight                family_sample_weight         1.090736
family_samples                            family_samples         1.090736
hc_mortgage_mean                        hc_mortgage_mean         2.097288
hc_mortgage_median                    hc_mortgage_median         2.097288
hc_mortgage_stdev                      hc_mortgage_stdev         2.097288
hc_mortgage_sample_weight      hc_mortgage_sample_weight         2.097288
hc_mortgage_samples                  hc_mortgage_samples         2.097288
hc_mean                                          hc_mean         2.196113
hc_median                                      hc_median         2.196113
hc_stdev                                        hc_stdev         2.196113
hc_samples                                    hc_samples         2.196113
hc_sample_weight                        hc_sample_weight         2.196113
home_equity_second_mortgage  home_equity_second_mortgage         1.672706
second_mortgage                          second_mortgage         1.672706
home_equity                                  home_equity         1.672706
debt                                                debt         1.672706
second_mortgage_cdf                  second_mortgage_cdf         1.672706
home_equity_cdf                          home_equity_cdf         1.672706
debt_cdf                                        debt_cdf         1.672706
hs_degree                                      hs_degree         0.695436
hs_degree_male                            hs_degree_male         0.732038
hs_degree_female                        hs_degree_female         0.816222
male_age_mean                              male_age_mean         0.691776
male_age_median                          male_age_median         0.691776
male_age_stdev                            male_age_stdev         0.691776
male_age_sample_weight            male_age_sample_weight         0.691776
male_age_samples                        male_age_samples         0.691776
female_age_mean                          female_age_mean         0.753999
female_age_median                      female_age_median         0.753999
female_age_stdev                        female_age_stdev         0.753999
female_age_sample_weight        female_age_sample_weight         0.753999
female_age_samples                    female_age_samples         0.753999
pct_own                                          pct_own         0.980930
married                                          married         0.699096
married_snp                                  married_snp         0.699096
separated                                      separated         0.699096
divorced                                        divorced         0.699096

In [29]:
test_data.drop('BLOCKID', axis=1 , inplace=True)

In [30]:
Missing_values1=test_data[test_data.isnull().any(axis=1)]
Missing_values1

,UID,SUMLEVEL,COUNTYID,STATEID,state,state_ab,city,place,type,primary,zip_code,area_code,lat,lng,ALand,AWater,pop,male_pop,female_pop,rent_mean,rent_median,rent_stdev,rent_sample_weight,rent_samples,rent_gt_10,rent_gt_15,rent_gt_20,rent_gt_25,rent_gt_30,rent_gt_35,rent_gt_40,rent_gt_50,universe_samples,used_samples,hi_mean,hi_median,hi_stdev,hi_sample_weight,hi_samples,family_mean,family_median,family_stdev,family_sample_weight,family_samples,hc_mortgage_mean,hc_mortgage_median,hc_mortgage_stdev,hc_mortgage_sample_weight,hc_mortgage_samples,hc_mean,hc_median,hc_stdev,hc_samples,hc_sample_weight,home_equity_second_mortgage,second_mortgage,home_equity,debt,second_mortgage_cdf,home_equity_cdf,debt_cdf,hs_degree,hs_degree_male,hs_degree_female,male_age_mean,male_age_median,male_age_stdev,male_age_sample_weight,male_age_samples,female_age_mean,female_age_median,female_age_stdev,female_age_sample_weight,female_age_samples,pct_own,married,married_snp,separated,divorced
17,265339,140,3,32,Nevada,NV,Las Vegas,Winchester,City,tract,89119,702,36.111448,-115.159125,612803,0,724,490,234,751.50703,736.0,172.34699,446.71620,501.0,0.95781,0.91772,0.87764,0.77637,0.57806,0.45992,0.43460,0.29325,501,474,32947.89919,24961.0,37213.92684,434.21963,501.0,27064.98901,27879.0,16391.07515,58.49710,73.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.89028,0.88703,0.90000,47.99025,46.58333,14.22954,108.69207,490.0,33.57247,32.50000,17.36519,49.31407,234.0,0.00000,0.22857,0.11020,0.06122,0.26327
27,287596,140,451,48,Texas,TX,San Angelo,San Angelo City,Town,tract,76903,325,31.431831,-100.404539,4603626,0,3099,2231,868,1061.03134,1079.0,221.25258,32.20117,91.0,1.00000,1.00000,1.00000,0.89011,0.59341,0.48352,0.18681,0.08791,117,91,42867.67343,40385.0,16658.79976,100.23177,117.0,44652.33710,41215.0,15428.79215,93.56564,109.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.97806,0.99194,0.92958,22.78803,21.00000,5.89881,1140.80210,2231.0,21.40298,20.50000,7.28394,456.32778,868.0,0.00000,0.22232,0.17475,0.01052,0.00000
44,250903,140,25,25,Massachusetts,MA,Cambridge,Cambridge City,City,tract,2139,617,42.359478,-71.121263,1158117,0,6234,2518,3716,1964.19623,2025.0,769.92869,137.01400,646.0,1.00000,0.98262,0.90521,0.87204,0.77725,0.68562,0.60506,0.52607,646,633,54583.21233,33796.0,53650.39665,427.80531,661.0,72208.68011,70655.0,51468.81482,75.59543,158.0,1943.06061,1911.0,265.85378,2.97595,15.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.33333,1.0,1.0,0.01506,0.0,0.94958,0.93675,0.96093,23.68423,21.33333,9.46337,1279.90666,2518.0,22.53871,20.75000,7.40442,2069.57453,3716.0,0.02169,0.10879,0.05440,0.00204,0.00409
54,287557,140,441,48,Texas,TX,Abilene,Tye City,Town,tract,79607,325,32.423876,-99.842475,18425872,194540,916,857,59,972.00000,968.0,50.76498,2.96970,6.0,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,6,6,18277.16343,9778.0,13912.23552,8.99920,11.0,32499.50000,32500.0,1825.74186,5.00000,5.0,NaN,NaN,NaN,NaN,NaN,224.5,224.0,18.25742,5.0,5.00000,0.0,0.0,0.00000,0.0,1.0,1.00000,1.0,0.95455,0.95455,NaN,22.47792,21.58333,5.10998,597.48392,857.0,22.72458,23.16667,2.18207,26.71180,59.0,0.60000,0.01984,0.00933,0.00000,0.02217
70,247510,140,209,20,Kansas,KS,Kansas City,Kansas City City,City,tract,66104,913,39.171767,-94.680617,8005557,1678971,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11543,267675,140,47,36,New York,NY,Brooklyn,New York City,City,tract,11212,718,40.670130,-73.908859,195831,0,4318,1772,2546,610.68727,434.0,506.85855,1313.88139,1563.0,0.97193,0.91578,0.77741,0.63971,0.46992,0.36898,0.33757,0.28810,1573,1496,26932.85425,16399.0,31321.38523,1219.53900,1591.0,32650.49890,25726.0,31093.21593,827.65173,1181.0,4038.22035,3998.0,367.72638,2.67657,18.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.00000,1.0,1.0,1.00000,0.0,0.66134,0.75184,0.61609,28.53376,23.66667,18.42455,539.19631,1772.0,37.65214,37.00000,20.92169,698.63402,2546.0,0.02453,0.29500,0.04282,0.02776,0.03013
11554,288512,140,35,49,Utah,UT,Salt Lake City,Salt Lake City City,City,tract,84116,801,40.788810,-111.992473,39295590,83499,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11561,275715,140,3,42,Pennsylvania,PA,Pittsburgh,Pittsburgh City,Borough,tract,15219,412,40.441658,-79.976462,183645,0,327,150,177,234.28539,206.0,193.59771,137.26000,175.0,0.72727,0.64848,0.57576,0.43030,0.23636,0.14545,0.10303,0.07879,175,165,14826.92845,9623.0,13083.26361,143.48725,178.0,17566.78194,8169.0,17584.31779,40.99515,67.0,NaN,NaN,NaN,NaN,NaN,457.0,456.0,32.04814,3.0,1.48485,0.0,0.0,0.00000,0.0,1.0,1.00000,1.0,0.66667,0.68254,0.65812,29.80678,21.75000,22.02010,46.81936,150.0,40.70590,36.83333,24.23393,56.65460,177.0,0.08257,0.00000,0.00000,0.00000,0.13333
11636,276588,140,27,42,Pennsylvania,PA,State College,State College,Borough,tract,16801,814,40.801303,-77.856566,931782,0,6492,2903,3589,1512.16288,1661.0,647.45329,29.14141,83.0,1.00000,1.00000,1.00000,1.00000,0.80723,0.73494,0.68675,0.59036,85,83,30481.52568,27353.0,13123.74497,81.66644,85.0,35832.83333,41560.0,11205.15754,15.00000,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,1.00000,1.00000,19.65938,19.50000,1.57257,1846.45375,2903.0,19.60357,19.33333,2.45127,2257.57126,3589.0,0.00000,0.00000,0.00000,0.00000,0.00000
11675,266164,140,5,36,New York,NY,Bronx,Mount Vernon City,City,tract,10452,718,40.840525,-73.915088,92765,0,5108,2565,2543,1027.02034,1072.0,487.29451,830.19199,1826.0,0.96002,0.92442,0.87185,0.73165,0.60570,0.55038,0.50438,0.46166,1830,1826,32352.90294,23561.0,29272.04225,1409.32888,1830.0,34041.98245,26043.0,24958.87003,952.93354,1251.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.61919,0.59598,0.63642,29.79299,24.00000,19.73818,735.83334,2565.0,38.54010,38.66667,21.79319,648.04755,2543.0,0.00000,0.27577,0.14638,0.03015,0.08114

In [31]:
test_data.shape

(11709, 79)

In [32]:
missing_percentage= (354/11709) * 100
missing_percentage

3.0233153984114787

In [33]:
test_data.dropna()

,UID,SUMLEVEL,COUNTYID,STATEID,state,state_ab,city,place,type,primary,zip_code,area_code,lat,lng,ALand,AWater,pop,male_pop,female_pop,rent_mean,rent_median,rent_stdev,rent_sample_weight,rent_samples,rent_gt_10,rent_gt_15,rent_gt_20,rent_gt_25,rent_gt_30,rent_gt_35,rent_gt_40,rent_gt_50,universe_samples,used_samples,hi_mean,hi_median,hi_stdev,hi_sample_weight,hi_samples,family_mean,family_median,family_stdev,family_sample_weight,family_samples,hc_mortgage_mean,hc_mortgage_median,hc_mortgage_stdev,hc_mortgage_sample_weight,hc_mortgage_samples,hc_mean,hc_median,hc_stdev,hc_samples,hc_sample_weight,home_equity_second_mortgage,second_mortgage,home_equity,debt,second_mortgage_cdf,home_equity_cdf,debt_cdf,hs_degree,hs_degree_male,hs_degree_female,male_age_mean,male_age_median,male_age_stdev,male_age_sample_weight,male_age_samples,female_age_mean,female_age_median,female_age_stdev,female_age_sample_weight,female_age_samples,pct_own,married,married_snp,separated,divorced
0,255504,140,163,26,Michigan,MI,Detroit,Dearborn Heights City,CDP,tract,48239,313,42.346422,-83.252823,2711280,39555,3417,1479,1938,858.57169,859.0,232.39082,276.07497,424.0,1.00000,0.95696,0.85316,0.85316,0.85316,0.85316,0.76962,0.63544,435,395,48899.52121,38746.0,44392.20902,798.02401,1180.0,53802.87122,45167.0,43756.56479,464.30972,769.0,1139.24548,1109.0,336.47710,262.67011,474.0,488.51323,436.0,192.75147,271.0,189.18182,0.06443,0.06443,0.07651,0.63624,0.14111,0.55087,0.51965,0.91047,0.92010,0.90391,33.37131,27.83333,22.36768,334.30978,1479.0,34.78682,33.75000,21.58531,416.48097,1938.0,0.70252,0.28217,0.05910,0.03813,0.14299
1,252676,140,1,23,Maine,ME,Auburn,Auburn City,City,tract,4210,207,44.100724,-70.257832,14778785,2705204,3796,1846,1950,832.68625,750.0,267.22342,183.32299,245.0,1.00000,1.00000,0.86611,0.67364,0.30962,0.30962,0.30962,0.27197,275,239,72335.33234,61008.0,51895.81159,922.82969,1722.0,85642.22095,74759.0,49156.72870,482.99945,1147.0,1533.25988,1438.0,536.61118,373.96188,937.0,661.31296,668.0,201.31365,510.0,279.69697,0.01175,0.01175,0.14375,0.64755,0.52310,0.26442,0.49359,0.94290,0.92832,0.95736,43.88680,46.08333,22.90302,427.10824,1846.0,44.23451,46.66667,22.37036,532.03505,1950.0,0.85128,0.64221,0.02338,0.00000,0.13377
2,276314,140,15,42,Pennsylvania,PA,Pine City,Millerton,Borough,tract,14871,607,41.948556,-76.783808,258903666,863840,3944,2065,1879,816.00639,755.0,416.25699,141.39063,217.0,0.97573,0.93204,0.78641,0.71845,0.63592,0.47573,0.43689,0.32524,245,206,58501.15901,51648.0,45245.27248,893.07759,1461.0,65694.06582,57186.0,44239.31893,619.73962,1084.0,1254.54462,1089.0,596.85204,340.45884,552.0,397.44466,356.0,189.40372,664.0,534.16737,0.01069,0.01316,0.06497,0.45395,0.51066,0.60484,0.83848,0.89238,0.86003,0.92463,39.81661,41.91667,24.29111,499.10080,2065.0,41.62426,44.50000,22.86213,453.11959,1879.0,0.81897,0.59961,0.01746,0.01358,0.10026
3,248614,140,231,21,Kentucky,KY,Monticello,Monticello City,City,tract,42633,606,36.746009,-84.766870,501694825,2623067,2508,1427,1081,418.68937,385.0,156.92024,88.95960,93.0,1.00000,0.93548,0.93548,0.64516,0.55914,0.46237,0.46237,0.36559,153,93,38237.55059,31612.0,34527.61607,775.17947,957.0,44156.38709,34687.0,34899.74300,535.21987,689.0,862.65763,749.0,624.42157,299.56752,337.0,200.88113,180.0,91.56490,467.0,454.85404,0.00995,0.00995,0.01741,0.41915,0.53770,0.80931,0.87403,0.60908,0.56584,0.65947,41.81638,43.00000,24.65325,333.57733,1427.0,44.81200,48.00000,21.03155,263.94320,1081.0,0.84609,0.56953,0.05492,0.04694,0.12489
4,286865,140,355,48,Texas,TX,Corpus Christi,Edroy,Town,tract,78410,361,27.882461,-97.678586,13796057,497689,6230,3274,2956,1031.63763,997.0,326.76727,277.39844,624.0,0.72276,0.66506,0.53526,0.38301,0.18910,0.16667,0.14263,0.11058,660,624,114456.07790,94211.0,81950.95692,836.30759,2404.0,123527.02420,103898.0,72173.55823,507.42257,1738.0,1996.41425,1907.0,740.21168,319.97570,1102.0,867.57713,804.0,376.20236,642.0,333.91919,0.00000,0.00000,0.03440,0.63188,1.00000,0.74519,0.52943,0.86297,0.87969,0.84466,42.13301,43.75000,22.69502,833.57435,3274.0,40.66618,42.66667,21.30900,709.90829,2956.0,0.79077,0.57620,0.01726,0.00588,0.16379
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11704,238088,140,105,12,Florida,FL,Lakeland,Crystal Springs,City,tract,33810,863,28.226068,-82.068886,92582775,1166617,5611,2697,2914,1458.82449,1603.0,566.90682,29.43733,99.0,1.00000,1.00000,1.00000,0.62626,0.62626,0.35354,0.18182,0.09091,147,99,57723.48180,48192.0,41301.62188,1636.68434,2496.0,70786.81912,59194.0,40582.36046,945.85894,1685.0,1269.83033,1119.0,689.35735,608.62709,1024.0,536.66053,500.0,267.25752,1325.0,914.89899,0.02043,0.03619,0.04044,0.43593,0.29592,0.71860,0.85762,0.92097,0.95007,0.89480,51.03535,55.50000,22.41099,704.65208,2697.0,53.51255,59.58333,23.23426,699.33353,2914.0,0.93121,0.65969,0.02135,0.02135,0.08780
11705,242811,140,31,17,Illinois,IL,Chicago,Chicago City,Village,tract,60609,773,41.804936,-87.667304,327029,0,2695,1504,1191,700.53513,661.0,254.66700,480.86455,592.0,1.00000,0.90034,0.85911,0.63058,0.53952,0.41237,0.35223,0.19931,618,582,35249.76522,27396.0,28889.72217,683.94534,838.0,38912.54156,32554.0,29796.19973,415.51917,555.0,1406.83478,1224.0,621.89533,62.54709,139.0,487.66419,465.0,220.16444,81.0,47.09727,0.05909,0.05909,0.08182,0.63182,0.16199,0.52552,0.52957,0.54890,0.49817,0.60965,32.94145,29.83333,20.52061,408.44261,1504.0,33.14169,32.83333,20.24698,306.63915,1191.0,0.33122,0.42882,0.07781,0.02829,0.05305
11706,250127,140,9,25,Massachusetts,MA,Lawrence,Methuen Town City,City,tract,1841,978,42.737778,-71.131761,5225804,393810,7392,3669,3723,1069.70567,1138.0,488.13975,207.29615,506.0,0.85375,0.83004,0.77273,0.56324,0.47431,0.33399,0.30237,0.02569,539,506,89549.15374,75357.0,66560.76837,1339.55365,2739.0,99484.96572,89050.0,62721.62266,853.61856,1986.0,1791.63902,1794.0,656.68467,548.16568,1634.0,654.78088,612.0,256.84182,566.0,299.83838,0.02727,0.02727,0.13545,0.74273,0.37297,0.29411,0.26972,0.94057,0.94000,0.94105,35.85743,34.91667,22.49430,880.48254,3669.0,43.53905,43.66667,23.17995,900.13903,3723.0,0.84372,0.50269,0.00108,0.00108,0.07294
11707,241096,140,27,19,Iowa,IA,Carroll,Carroll City,City,tract,51401,712,42.081366,-94.866175,11066759,0,5945,2732,3213,696.93368,576.0,595.16228,503.83775,590.0,0.96886,0.92042,0.83045,0.69723,0.62284,0.43772,0.33737,0.33737,663,578,57877.26387,41838.0,49745.93715,1605.79897,2596.0,75066.29009,72135.0,47200.66016,782.93088,1568.0,1182.30365,1059.0,587.01032,796.11244,1267.0,369.29903,334.0,133.20792,666.0,556.40404,0.03570,0.03570,0.07967,0.65546,0.30010,0.53579,0.47507,0.91407,0.92428,0.90634,39.18219,40.25000,24.86317,636.20201,2732.0,45.63179,48.16667,24.84209,693.82905,3213.0,0.83330,0.66699,0.02738,0.00000,0.04694
11708,287763,140,453,48,Texas,TX,Austin,Sunset Valley City,Town,tract,78745,512,30.219013,-97.774728,1990126,0,4117,2070,2047,950.09294,864.0,333.82364,417.07457,675.0,1.00000,0.97481,0.86074,0.73926,0.44593,0.38370,0.27852,0.25778,682,675,58006.33817,44179.0,49189.98590,902.67611,1396.0,54913.24441,42469.0,41016.08651,581.04758,877.0,1364.17379,1318.0,463.57052,217.49287,456.0,550.78197,555.0,199.13527,258.0,163.55556,0.00000,0.00000,0.05042,0.63866,1.00000,0.67315,0.51407,0.78685,0.80615,0.76820,35.56404,35.00000,21.67509,522.45931,2070.0,35.99955,35.41667,20.68049,559.30291,2047.0,0.52587,0.51922,0.08066,0.02520,0.10586

In [34]:
test_data.drop_duplicates(inplace=True)

In [35]:
test_data.duplicated().sum()

0

## TEST DATA FINAL SIZE

In [36]:
test_data.shape

(11677, 79)

### Perform EDA and come out with insights into population density and age. You may require deriving new fields (Make sure to weight averages for accurate measurements): 
### 	Population density (hint-use pop and Aland to calculate)</br>
### 	median age (hint-use the variables male_age_median, female_age_median, male_pop, female_pop)</br>
### Visualize the findings using appropriate chart type.

In [37]:
df= train_data[['state', 'city', 'place','type','ALand', 'pop', 'male_age_median', 'female_age_median', 'male_pop', 'female_pop']]
df.head()

,state,city,place,type,ALand,pop,male_age_median,female_age_median,male_pop,female_pop
0,New York,Hamilton,Hamilton,City,202183361.0,5230,44.00000,45.33333,2612,2618
1,Indiana,South Bend,Roseland,City,1560828.0,2633,32.00000,37.58333,1349,1284
2,Indiana,Danville,Danville,City,69561595.0,6881,40.83333,42.83333,3643,3238
3,Puerto Rico,San Juan,Guaynabo,Urban,1105793.0,2700,48.91667,50.58333,1141,1559
4,Kansas,Manhattan,Manhattan City,City,2554403.0,5637,22.41667,21.58333,2586,3051

In [38]:
df.shape

(27161, 10)

## Population density is total population by total area of land; Therefore we will use total population as pop and total area of land as ALand

In [39]:
pd.options.mode.chained_assignment = None

In [40]:
df['p_density'] = df['pop'] / df['ALand']

## Median age will be average of of median age of male and median age of female.

In [45]:
df['median_age'] = (df['male_age_median']+ df['female_age_median']) / 2

In [46]:
df.head()

,state,city,place,type,ALand,pop,male_age_median,female_age_median,male_pop,female_pop,p_density,median_age
0,New York,Hamilton,Hamilton,City,202183361.0,5230,44.00000,45.33333,2612,2618,0.000026,44.666665
1,Indiana,South Bend,Roseland,City,1560828.0,2633,32.00000,37.58333,1349,1284,0.001687,34.791665
2,Indiana,Danville,Danville,City,69561595.0,6881,40.83333,42.83333,3643,3238,0.000099,41.833330
3,Puerto Rico,San Juan,Guaynabo,Urban,1105793.0,2700,48.91667,50.58333,1141,1559,0.002442,49.750000
4,Kansas,Manhattan,Manhattan City,City,2554403.0,5637,22.41667,21.58333,2586,3051,0.002207,22.000000

Load the df dataset in the excel sheet to perform visualisations.

In [49]:
df.to_excel('A.xlsx')

In [69]:
#--> USED POWERBI For visualisations

### Create bins for population into a new variable by selecting appropriate class interval so that the no of categories(bins) dont exceed 5 for the ease of analysis. Analyze the married, separated and divorced population for these population brackets. Visualize using appropriate chart type.

In [52]:
train_data.head()

,UID,SUMLEVEL,COUNTYID,STATEID,state,state_ab,city,place,type,primary,zip_code,area_code,lat,lng,ALand,AWater,pop,male_pop,female_pop,rent_mean,rent_median,rent_stdev,rent_sample_weight,rent_samples,rent_gt_10,rent_gt_15,rent_gt_20,rent_gt_25,rent_gt_30,rent_gt_35,rent_gt_40,rent_gt_50,universe_samples,used_samples,hi_mean,hi_median,hi_stdev,hi_sample_weight,hi_samples,family_mean,family_median,family_stdev,family_sample_weight,family_samples,hc_mortgage_mean,hc_mortgage_median,hc_mortgage_stdev,hc_mortgage_sample_weight,hc_mortgage_samples,hc_mean,hc_median,hc_stdev,hc_samples,hc_sample_weight,home_equity_second_mortgage,second_mortgage,home_equity,debt,second_mortgage_cdf,home_equity_cdf,debt_cdf,hs_degree,hs_degree_male,hs_degree_female,male_age_mean,male_age_median,male_age_stdev,male_age_sample_weight,male_age_samples,female_age_mean,female_age_median,female_age_stdev,female_age_sample_weight,female_age_samples,pct_own,married,married_snp,separated,divorced
0,267822,140,53,36,New York,NY,Hamilton,Hamilton,City,tract,13346,315,42.840812,-75.501524,202183361.0,1699120,5230,2612,2618,769.38638,784.0,232.63967,272.34441,362.0,0.86761,0.79155,0.59155,0.45634,0.42817,0.18592,0.15493,0.12958,387,355,63125.28406,48120.0,49042.01206,1290.96240,2024.0,67994.14790,53245.0,47667.30119,884.33516,1491.0,1414.80295,1223.0,641.22898,377.83135,867.0,570.01530,558.0,270.11299,770.0,499.29293,0.01588,0.02077,0.08919,0.52963,0.43658,0.49087,0.73341,0.89288,0.85880,0.92434,42.48574,44.00000,22.97306,696.42136,2612.0,44.48629,45.33333,22.51276,685.33845,2618.0,0.79046,0.57851,0.01882,0.01240,0.08770
1,246444,140,141,18,Indiana,IN,South Bend,Roseland,City,tract,46616,574,41.701441,-86.266614,1560828.0,100363,2633,1349,1284,804.87924,848.0,253.46747,312.58622,513.0,0.97410,0.93227,0.69920,0.69920,0.55179,0.41235,0.39044,0.27888,542,502,41931.92593,35186.0,31639.50203,838.74664,1127.0,50670.10337,43023.0,34715.57548,375.28798,554.0,864.41390,784.0,482.27020,316.88320,356.0,351.98293,336.0,125.40457,229.0,189.60606,0.02222,0.02222,0.04274,0.60855,0.42174,0.70823,0.58120,0.90487,0.86947,0.94187,34.84728,32.00000,20.37452,323.90204,1349.0,36.48391,37.58333,23.43353,267.23367,1284.0,0.52483,0.34886,0.01426,0.01426,0.09030
2,245683,140,63,18,Indiana,IN,Danville,Danville,City,tract,46122,317,39.792202,-86.515246,69561595.0,284193,6881,3643,3238,742.77365,703.0,323.39011,291.85520,378.0,0.95238,0.88624,0.79630,0.66667,0.39153,0.39153,0.28307,0.15873,459,378,84942.68317,74964.0,56811.62186,1155.20980,2488.0,95262.51431,85395.0,49292.67664,709.74925,1889.0,1506.06758,1361.0,731.89394,699.41354,1491.0,556.45986,532.0,184.42175,538.0,323.35354,0.00000,0.00000,0.09512,0.73484,1.00000,0.46332,0.28704,0.94288,0.94616,0.93952,39.38154,40.83333,22.89769,888.29730,3643.0,42.15810,42.83333,23.94119,707.01963,3238.0,0.85331,0.64745,0.02830,0.01607,0.10657
3,279653,140,127,72,Puerto Rico,PR,San Juan,Guaynabo,Urban,tract,927,787,18.396103,-66.104169,1105793.0,0,2700,1141,1559,803.42018,782.0,297.39258,259.30316,368.0,0.94693,0.87151,0.69832,0.61732,0.51397,0.46927,0.35754,0.32961,438,358,48733.67116,37845.0,45100.54010,928.32193,1267.0,56401.68133,44399.0,41082.90515,490.18479,729.0,1175.28642,1101.0,428.98751,261.28471,437.0,288.04047,247.0,185.55887,392.0,314.90566,0.01086,0.01086,0.01086,0.52714,0.53057,0.82530,0.73727,0.91500,0.90755,0.92043,48.64749,48.91667,23.05968,274.98956,1141.0,47.77526,50.58333,24.32015,362.20193,1559.0,0.65037,0.47257,0.02021,0.02021,0.10106
4,247218,140,161,20,Kansas,KS,Manhattan,Manhattan City,City,tract,66502,785,39.195573,-96.569366,2554403.0,0,5637,2586,3051,938.56493,881.0,392.44096,1005.42886,1704.0,0.99286,0.98247,0.91688,0.84740,0.78247,0.60974,0.55455,0.44416,1725,1540,31834.15466,22497.0,34046.50907,1548.67477,1983.0,54053.42396,50272.0,39609.12605,244.08903,395.0,1192.58759,1125.0,327.49674,76.61052,134.0,443.68855,444.0,76.12674,124.0,79.55556,0.05426,0.05426,0.05426,0.51938,0.18332,0.65545,0.74967,1.00000,1.00000,1.00000,26.07533,22.41667,11.84399,1296.89877,2586.0,24.17693,21.58333,11.10484,1854.48652,3051.0,0.13046,0.12356,0.00000,0.00000,0.03109

## lets find the maximum value of male mean age and female mean age in the dataset.

In [55]:
train_data["male_age_mean"].max()

77.75992

In [57]:
train_data["female_age_mean"].max()

79.83739

## lets find the minimum value of male mean age and female mean age in the dataset.

In [61]:
train_data["male_age_mean"].min()

12.14583

In [59]:
train_data["female_age_mean"].min()

16.008329999999997

In [62]:
age_df = train_data[['state', 'city', 'place', 'pop', 'male_pop', 'female_pop', 'male_age_median', 'female_age_median', 'married', 'separated', 'divorced']]

## THE BRACKETS :

YOUNG YOUTH - <18 </br>
YOUTH - 19 to 30  </br>
ADULT - 30 to 55  </br>
SENIOR - >55      </br>

In [64]:
bins = [0,18, 30, 55, 100]
labels = ['YOUNG YOUTH', 'YOUTH', ' ADULLT' , 'SENIOR']

In [65]:
age_df['male_population_bracket'] = pd.cut(age_df['male_age_median'], bins, labels = labels)

In [66]:

age_df['female_population_bracket'] = pd.cut(age_df['female_age_median'], bins, labels = labels)

In [67]:
age_df.head()

,state,city,place,pop,male_pop,female_pop,male_age_median,female_age_median,married,separated,divorced,male_population_bracket,female_population_bracket
0,New York,Hamilton,Hamilton,5230,2612,2618,44.00000,45.33333,0.57851,0.01240,0.08770,Adult,Adult
1,Indiana,South Bend,Roseland,2633,1349,1284,32.00000,37.58333,0.34886,0.01426,0.09030,Adult,Adult
2,Indiana,Danville,Danville,6881,3643,3238,40.83333,42.83333,0.64745,0.01607,0.10657,Adult,Adult
3,Puerto Rico,San Juan,Guaynabo,2700,1141,1559,48.91667,50.58333,0.47257,0.02021,0.10106,Adult,Adult
4,Kansas,Manhattan,Manhattan City,5637,2586,3051,22.41667,21.58333,0.12356,0.00000,0.03109,YOUTH,YOUTH

Load the df dataset in the excel sheet to perform visualisations.

In [71]:
age_df.to_excel('B.xlsx')

In [70]:
#--> USED POWERBI For visualisations